---
import CardGrid from "@/components/CardGrid.astro";
import SinglePageHeader from "@/components/SinglePageHeader.astro";
import Layout from "@/layouts/Layout.astro";
import { getDomainLabel, toTitleCase } from "@/utils/functions";
import {
  getEntity,
  getResourcesByEntity,
  urlFor,
} from "@/utils/sanity/functions";
import type { Params } from "astro";

export const prerender = false;

const { slug } = Astro.params as Params;

if (!slug) {
  throw new Error("Missing entity slug");
}

const entity = await getEntity(slug);
const resources = await getResourcesByEntity(slug);

const resourceTypes = [
  ...new Set(resources.flatMap((resource) => resource.type)),
];

const sections = [
  resourceTypes.map((type) => ({
    id: type,
    list:
      resources
        .filter((resource) => resource.type == type)
        .map((resource) => ({
          ...resource,
          name: resource.url
            ? `${toTitleCase(getDomainLabel(resource.url)) ?? ""} ${toTitleCase(resource.type)}`.trim()
            : toTitleCase(resource.type),
        })) ?? [],
    title: toTitleCase(type),
    getHref: (item) =>
      item.url ? item.url : item.image ? urlFor(item.image) : "",
  })),
][0];
---

<Layout title={entity.name || ""}>
  <SinglePageHeader
    breadcrumbs={[{ url: "/", text: "Home" }]}
    title={entity.name || ""}
  >
    <Fragment slot="subtitle">
      <p>Entity</p>
    </Fragment>
  </SinglePageHeader>

  <div id="content" class="my-2">
    {
      sections.length > 0 &&
        sections.map((section) => (
          <CardGrid
            getHref={section.getHref}
            title={section.title}
            list={section.list}
            type={section.id}
            btnStyle="primary"
          />
        ))
    }
  </div>
</Layout>
