---
import type { InferGetStaticParamsType } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getAdventure, getAdventuresList } from "../../utils/sanity/functions";

export async function getStaticPaths() {
  const adventures = await getAdventuresList();
  return adventures.map((adventure) => ({
    params: { slug: adventure.slug?.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const adventure = await getAdventure(slug);
---

<Layout title={adventure.name}>
  <a href={adventure.website} target="_blank" rel="noopener noreferrer">
    Website
  </a>
  
  {adventure.authors?.map((author) => (
    <span key={author._key}>{author.name}</span>
  ))}
  

  <h2>Encounters</h2>
  {adventure.encounters?.map(encounter => (
    <div key={encounter._key}>
      {encounter.encounterName}
    </div>
  ))}

  <h2>Characters</h2>
  {adventure.characters?.map(character => (
    <div key={character._key}>
      {character.name}
    </div>
  ))}
</Layout>