---
import CardGrid from "@/components/CardGrid.astro";
import PageTabs from "@/components/PageTabs";
import SinglePageHeader from "@/components/SinglePageHeader.astro";
import Layout from "@/layouts/Layout.astro";
import { getAdventure, getEncounter } from "@/utils/sanity/functions";
import type { Params } from "astro";

export const prerender = false;

const { adventureSlug, slug } = Astro.params as Params;

if (!adventureSlug) {
  throw new Error("Missing adventure slug");
}

if (!slug) {
  throw new Error("Missing character slug");
}

const adventure = await getAdventure(adventureSlug);
const encounter = await getEncounter(slug);

const sections = [
  {
    id: "entities",
    list: encounter.entities ?? [],
    title: "Creatures",
    getText: (item) => `Qty: ${item.quantity}`,
    getHref: (item) =>
      item.entity._type == "entities"
        ? `/entity/${item.slug.current}`
        : `/adventure/${adventure.slug.current}/character/${item.slug.current}`,
  },
  {
    id: "location",
    list: encounter.locations ?? [],
    title: "Locations",
    getText: (item) => ``,
    getHref: (item) =>
      `/adventure/${adventure.slug.current}/location/${item.slug.current}`,
  },
];
---

<Layout title={encounter.name || ""}>
  <SinglePageHeader
    breadcrumbs={[
      { url: "/", text: "Home" },
      { url: "/adventure/" + adventure.slug.current, text: adventure.name },
      {
        url: "/adventure/" + adventure.slug.current + "#encounters",
        text: "Encounters",
      },
    ]}
    title={encounter.name || ""}
  >
    <Fragment slot="subtitle">
      <p>Encounter</p>
    </Fragment>
  </SinglePageHeader>
  {sections.length > 0 && <PageTabs client:only sections={sections} />}
  <div id="content" class="my-2">
    {
      sections.length > 0 &&
        sections.map((section) => (
          <CardGrid
            getHref={section.getHref}
            title={section.title}
            list={section.list}
            type={section.id}
            getText={section.getText}
          />
        ))
    }
  </div>
</Layout>
