---
interface Action {
  url: string;
  text: string;
  type?: "primary" | "secondary";
}

interface Props {
  title: string;
  text?: string;
  button?: Action;
}

const { title, text, button } = Astro.props as Props;
const action = button && {
  ...button,
  type: button.type ?? "primary",
};
---

<div class="card border-base-300 border bg-base-100 card-md shadow-sm">
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    {text && <p>{text}</p>}

    {
      action && (
        <div class="justify-end mt-3 card-actions">
          <a href={action.url} class={`btn btn-block btn-${action.type}`}>
            {action.text}
          </a>
        </div>
      )
    }
  </div>
</div>
