---
import type { Slug } from "sanity";

interface ObjectOption {
  slug: Slug;
  name: string;
}

interface Props {
  name: string;
  selected: string[] | undefined;
  options: string[] | ObjectOption[];
}

const { name, selected, options } = Astro.props as Props;

const allSelected = options.length === selected?.length;

const label =
  selected?.length && !allSelected
    ? selected.length + " " + name + " selected"
    : "All " + name + "s";
---

<details class="dropdown" name={name}>
  <summary class="select w-full">{label}</summary>
  <ul
    class="menu dropdown-content bg-base-100 gap-2 border border-base-300 rounded-box z-1 w-52 p-2 shadow-sm"
  >
    {
      options.map((option: string | ObjectOption) =>
        typeof option == "object" ? (
          <li class="flex flex-row" value={option.slug.current}>
            <input
              type="checkbox"
              id={option.slug.current}
              name={name}
              checked={selected?.includes(option.slug.current)}
              value={option.slug.current}
              class="checkbox mr-2"
            />
            <label for={option.slug.current}>{option.name}</label>
          </li>
        ) : (
          <li class="flex flex-row" value={option}>
            <input
              type="checkbox"
              id={`${name}-${option}`}
              name={name}
              checked={selected?.includes(option)}
              value={option}
              class="checkbox mr-2"
            />
            <label for={`${name}-${option}`}>{option}</label>
          </li>
        ),
      )
    }
  </ul>
</details>
