---
import type { AdventureFilters, AdventureOptions } from "@/utils/sanity/types";
import MultiSelect from "./MultiSelect.astro";
import SingleSelect from "./SingleSelect.astro";

interface Props {
  filters: AdventureFilters;
  options: AdventureOptions;
}

const { filters, options } = Astro.props as Props;
---

<form method="get">
  <fieldset class="flex gap-2 flex-auto flex-col sm:flex-row">
    <MultiSelect
      name="author"
      selected={filters.selectedAuthors}
      options={options.authors}
    />

    <MultiSelect
      name="edition"
      selected={filters.selectedEditions}
      options={options.editions}
    />

    <SingleSelect
      name="duration"
      selected={filters.selectedDuration}
      options={options.duration}
    />

    <MultiSelect
      name="level"
      selected={filters.selectedLevels}
      options={options.levels}
    />

    <MultiSelect
      name="partySize"
      selected={filters.selectedPartySizes}
      options={options.partySizes}
    />
    <button class="btn-primary">Apply</button>
    <a href="/" class="btn btn-secondary">Clear</a>
  </fieldset>
</form>
