---
import type { AdventureFilters, AdventureOptions } from "@/utils/sanity/types";
import MultiSelect from "./MultiSelect.astro";

interface Props {
  filters: AdventureFilters;
  options: AdventureOptions;
}

const { filters, options } = Astro.props as Props;
---

<form method="get">
  <fieldset>
    <MultiSelect
      name="author"
      selected={filters.selectedAuthors}
      options={options.authors}
    />

    <MultiSelect
      name="edition"
      selected={filters.selectedEditions}
      options={options.editions}
    />

    <select class="select" name="duration">
      <option value="" selected={!filters.selectedDuration?.length}>
        Any durations
      </option>
      {
        options.duration.map((item) => (
          <option
            value={item}
            selected={filters.selectedDuration?.includes(item)}
          >
            {item}
          </option>
        ))
      }
    </select>

    <MultiSelect
      name="level"
      selected={filters.selectedLevels}
      options={options.levels}
    />

    <MultiSelect
      name="size"
      selected={filters.selectedPartySizes}
      options={options.partySizes}
    />
  </fieldset>

  <button>Apply</button>
  <a href="/">Clear</a>
</form>
